@import './theme.scss';
// @import './customBootstrap.scss';

.body-home-page {
    min-height: 60vh;
    height: fit-content;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.card-header {
    text-align: center;
    color: $background-color;
    border-bottom: 1px solid $background-color;
    font-weight: bold;
};


.card-text {
    background-color: $primary-color;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: $yellow;
    // border-color: $background-color;
}

.card-loading-home-page{
    font-size: medium;
}


.col-img-body {
    display:flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 994px) {
    .col-img-body {
        display: none;
    }
}

.subtitle-home {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    transform: translateY(-10px);
}

.card-ticket {
    border-radius: 1rem;
    width: 100%;
    height: 150px;
    background-color: $primary-color;
    margin-bottom: 10px;
    // margin-left: 3rem;
    // margin-top: 2%;
}

.card-definition {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-y: scroll;
}

.card-definition-text {
    font-size: smaller;
    color: white;
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-y: scroll;
    text-align: center;
}

.card-body-wrapper {
    margin-top: auto;
}

@media screen and (max-width: 1150px) {
    .card-definition-text {
        font-size: 9pt;
    }
    
}