// @import "bootstrap/scss/variables";
@import "./theme.scss";
// @import "bootstrap/scss/functions"; 

$input-border-width: 0;

$theme-colors: (
    "primary":      $primary-color,
    "yellow":       $yellow,
    "orange":       $orange,
    "black":       black,
    'secondary':     #6c757d,
    'success':       #198754,
    'info':          #0dcaf0,
    'warning':       #ffc107,
    'danger':        #dc3545,
    'light':         #f8f9fa,
    'dark':          #212529,
);

// @import 'bootstrap/scss/variables';

@import 'bootstrap/scss/bootstrap';

.table td {
    border-left: 1px solid $background-color;
    border-right: 1px solid $background-color;
    border-bottom: 1px solid $background-color;;
    background-color: white;
    // border-width: 10px;
}

.table th {
    // border-left: 1px solid $primary-color;
    border-right: 1px solid white;
    border-bottom: $primary-color;
    // border-width: 10px;
}

.table th .right-head {
    border-right: 1px solid $primary-color;
    border-radius: 0 20px 0 0;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

table tr:first-child th:first-child {
    border-top-left-radius: 1rem;
    border-left: 0 solid white;
}

table tr:first-child th:last-child {
    border-top-right-radius: 1rem;
    border-right: 0 solid white
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}

.btn-my-account {
    @extend .btn-yellow;
    border-radius: 3rem;
    color: $primary-color;
    font-weight: bold;
    // max-width: 200px;
    // overflow: auto;
    // text-overflow: ellipsis;
    // &:visited{
    //     border-radius: 3rem;
    //     color: $primary-color;
    // }
    // &:focus{
    //     border-radius: 3rem;
    //     color: $primary-color;
    // }
    // &:active{
    //     border-radius: 3rem;
    //     color: $primary-color;
    // }
    // &:hover{
    //     border-radius: 3rem;
    //     color: $primary-color;
    // }
}

.btn-orange {
    color: white;
    &:hover{
        color: white;
    }
}

.btn-create {
    @extend .btn-yellow;
    margin: 1rem 0;
    padding: 0 1rem;
    width: fit-content;
    border-radius: 1.5rem;
}

// .btn-primary {
//     background-color: $yellow;
//     color: $primary-color;
//     border-radius: 2rem;
//     border:0;
//     font-weight: bold;

//     &:hover {
//         background-color: #ffdf6b;
//         color: $primary-color;
//     }
//     // &:focus {
//     //     background-color: $orange;
//     //     color: $primary-color;
//     // }
//     // &:active {
//     //     background-color: $orange;
//     //     color: $primary-color;
//     // }
//     &.dropdown-toggle:focus {
//         background-color: #ffdf6b;
//         color: $primary-color;
//     }
// };

// @import "bootstrap/";