@import './theme.scss';

footer {
    background-color: $primary-color;
    min-height: 400px;
    margin-top: 150px;
}

.col-about {
    color: $yellow;
    font-weight: bold;
    border-right: 1px solid $background-color;

}
.col-address {
    color: $yellow;
    border-left: 1px solid $background-color;
    font-weight: bold;
    justify-content: flex-end;

    // text-align: right;
}
.text-about {
    color: $background-color;
    margin-right: 20%;
}

.text {
    color: $background-color;
    margin-left: 20%;
    // margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
}

.tittle {
    color: $yellow;
    margin-left: 20%;
}

.row-footer {
    padding-top: 10rem;
}

.container-footer {
    position:relative;
}

.half-circle {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: $background-color;
    top: -35px;
    left: 50%;
    border-radius: 0 0 400px 400px;
    transform: translate(-50%, -50%);
    
}

.footer-responsive-text {
    display: none;
    color: $yellow;
    text-align: right;
}

@media screen and (max-width: 440px) {
    .container-footer {
        display: none;
    }

    footer {
        min-height: 50px;
        padding: 5px 10px
    }

    .footer-responsive-text {
        display: block;
    }
}