@import './theme.scss';

.formImg {
    min-height: 0vh;
    max-width: 0vh;
    background-color: $yellow;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 3px 3px 2px #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formPaper {
    // min-height: 60vh;
    max-width: 40vh;
    background-color: $primary-color;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 3px 3px 2px #bdbdbd;
}

.textForgotPass {
    font-size: x-small;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin-left: auto;
}

.buttonResetWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: .2rem;
    // margin-left: auto;
}

.formTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    color: $yellow;
}

.modalCard {
    
    background-color: $yellow;
    width: 18rem;
    margin: auto;
    
}

.modalButtonFooter {
    align-items: center;
    justify-content: center;
    padding: 0 0;
    padding-bottom: 1rem;
    border-top: 0;
}

.modalButtonOk {
    width: 4rem;
    font-size: small;
    height: auto;
}

.modalButtonGoTo {
    width: 6rem;
    font-size: small;
    height: auto;
}

.modalMessage {
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 470px) {
    .formPaper {
        min-width: 35vh;
    }
    hr {
        min-width: 90vw;
    }
}