@import './theme.scss';

.login-body {
    display: flex;
    min-height: 100vh ;
    align-items: center;
    justify-items: center;
    // margin: 0;
    z-index: 1;
}

.hr-wrapper {
    // display: flex;
    position: absolute;
    top: calc(50vh - 1.5rem);
    // min-width: 95vw;
    z-index: 0;
    margin: auto;
    right: 0;
    width: 95vw;
}

hr {
    // position: absolute;
    // top: 50vh;
    margin-top: 3px;
    margin-bottom: 3px;
    // z-index: 0;
    height: 3px!important;
    border-width: 0px;
    opacity: 1;
}

.img-triangle {
    position: absolute;
    left: 0;
    top: calc(50vh - 200px);
    z-index: 1;
}

.form-root {
    // min-height: 50vh;
    // max-width: 50vw;
    display: flex;
    margin: auto;
    position: relative;
    align-content: center;
    justify-content: center;
    z-index: 2;
    max-height: 50vh;
}

.form-img {
    min-height: 50vh;
    max-width: 40vh;
    background-color: $yellow;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 3px 3px 2px #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-paper {
    max-width: 40vh;
    background-color: $primary-color;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 3px 3px 2px #bdbdbd;
    max-height: 60vh;
    overflow-y: auto;
}

.form-wrapper {
    margin-top: 20%;
    margin-bottom: 40%;
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.form-input-wrapper {
    display: flex;
    position: relative;
}

.toggle-password-login {
    position: absolute;
    color: $primary-color;
    top: 5%;
    right: 5%;
    line-height: 0;
}

.form-input {
    border-radius: 0.4rem;
    box-shadow: inset 1px 3px 5px #bdbdbd;
    padding: .2rem .6rem;
    // margin-top: -5px;
    margin-bottom: 1rem;

    &::-webkit-input-placeholder {
        font-style: italic;
        font-size: smaller;
    }
    &:-moz-placeholder {
        font-style: italic;  
    }
    &::-moz-placeholder {
        font-style: italic;  
    }
    &:-ms-input-placeholder {  
        font-style: italic; 
    }
}

.form-input-forgot-password {
    border-radius: 0.8rem;
    box-shadow: inset 1px 3px 5px #bdbdbd;
    padding: .2rem .6rem;
    // margin-top: -5px;
    margin-bottom: .2rem;

    &::-webkit-input-placeholder {
        font-style: italic;
        font-size: smaller;
    }
    &:-moz-placeholder {
        font-style: italic;  
    }
    &::-moz-placeholder {
        font-style: italic;  
    }
    &:-ms-input-placeholder {  
        font-style: italic; 
    }
}

.logo-wrapper-login {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.img-logo {
    position: absolute;
    // right: 0;
    // top: 0;
    margin-top: 2rem;
    // margin-right: 2rem;
}

.button-wrapper-login {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-login {
    border-radius: 1rem;
    width: auto;
    min-width: 75px;
    &:focus {
        color: white;
    }
}

.reset-password-link {
    color: white;
}

.circleIllustration-login {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0px, 30px);
}

@media screen and (max-width: 470px) {
    .logo-wrapper-login {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .img-logo {
        display: flex;
        justify-self: center;
        // position: absolute;
        // left: 27%;
    }
    .img-illustration {
        display: none;
    }
    .form-img {
        max-width: 0vh;
    }
    .form-paper {
        min-width: 35vh;
    }
    .hr-wrapper {
        width: 80vw;
    }
}