@import './theme.scss';

.body {
    max-height: 80vh;
    height: fit-content;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.title {
    text-align: left;
    font-weight: bold;
    margin: 1rem 0;
}

.buttonManage {
    padding: 8px;
    line-height: 0;
    width: 40px;
    margin: 0 .2rem;
}

.modalTitle {
    margin: 15px 0;
    font-size: x-large;
}

.formLabel {
    display: flex;
    justify-self: flex-start;
    margin: .5rem 0;
}

.formInput {
    &::-webkit-input-placeholder {
        font-style: italic;
        font-size: smaller;
    }
    &:-moz-placeholder {
        font-style: italic;  
        font-size: smaller;
    }
    &::-moz-placeholder {
        font-style: italic; 
        font-size: smaller; 
    }
    &:-ms-input-placeholder {  
        font-style: italic; 
        font-size: smaller;
    }
}