@import './theme.scss';

.body-manage-user {
    min-height: 60vh;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}

.filter {
    text-align: left;
    margin: 0 2rem;
}

.input-text {
    border-radius: 10px;
    box-shadow: inset 0px 3px 3px #bdbdbd;
    border: none!important;
}

.input-select {
    border-radius: 12px;
    border: 0;
    box-shadow: 5px 5px 3px #e3e3e3;
}

.add-user-row {
    margin-top: 1rem;
    // align-content: flex-end;
}

.btn-add-user {
    background-color: $primary-color;
    color: white;
    font-size: smaller; 
    padding: 5px 10px;
    border-radius: .5rem;
    border:0;
    text-decoration: none;
}

.btn-secondary {
    background-color: $orange;
    color: white;
    border-radius: .5rem;
    border:0;
}

.btn-groups {
    display: inline-block;
    background-color: $orange;
    border-radius: .5rem;
    color: white;
    margin: 2px 2px;
    border: 0;
    width: fit-content;
    padding: .3rem .5rem
}

.btn-modal {
    min-width: 4rem;
    width: auto;
    text-align: center;
    box-shadow: .2rem .2rem .1rem #bdbdbd;
    // padding: .01rem 0;
    // height: 2rem;
}

.modal-paper {
    background-color: $yellow;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    // opacity: 0.9;
}

.modal-header-custom {
    border-bottom: 0 none white;
}

.modal-footer-custom {
    border-top: 0 none white;
    justify-content: center;
}

.modal-paper-yellow {
    background-color: $yellow;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
    width: auto;
    margin: auto;
    border-radius: 2rem;
}

.modal-group-title {
    font-size: larger;
    font-weight: bold;
}

.modal-group-body {
    padding: 0 4rem;
}

.modal-group-select {
    width: auto;
    display: flex;
    margin: auto;
    border-radius: 1rem;
}

.groups-head {
    width: 40%;
}

.table-head {
    background-color: $primary-color;
    color: white;
    // width: 50%;
}

.user-name {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: .3rem;
    align-self: flex-start;
}

.user-nik {
    font-size: 9pt;
}

.user-email {
    font-size: small;
}

.user-division {
    font-weight: bold;
}

.user-position {
    font-size: small;
}

.close-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    margin-left: .2rem;
    &:hover{
        color:black
    }
}

.select-role {
    width: auto;
    border-radius: 1rem;
}

.prev-next-btn {
    text-decoration: none;
    color: $primary-color;
    &:hover {
        color: black
    }
}

.delete-icon {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.prev-next-root {
    margin-top: .5rem;
}

.table-wrapper-manage-user {
    margin-top: 10px;
    max-height: 60vh;
    overflow: auto
}

.select-limit-manage-user {
    margin-top: .5rem;
    color: $primary-color;
    & > select {
        margin: 0 .5rem;
        color: black;
        width: auto;
        display: inline;
    }
}

@media screen and (max-width: 1200px) {
    .select-role {
        width: 130px
    }
}
