@import './theme.scss';

.body {
    max-height: 80vh;
    height: fit-content;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.title {
    text-align: left;
    font-weight: bold;
    margin: 1rem 0;
}

.filterRoot {
    justify-content: left;
}

.filter {
    // justify-content: left;
    // margin-right: auto;
    width: fit-content;
}

.inputFilter {
    width: auto;
}

.tableWrapper {
    max-height: 60vh;
    overflow: auto;
    margin-top: 1.5rem;
}

.rightHead {
    text-align: center;
}

.colImg {
    display: flex;
    justify-content: center;
}

.buttonManage {
    width: 150px;
    border-radius: .5rem;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .buttonManage {
        width: 120px;
        padding: .2rem
    }
}

@media screen and (max-width: 990px) {
    .colImg {
        display: none;
    }
    .buttonManage {
        width: 100px;
        padding: .2rem
    }
}

@media screen and (max-width: 700px) {
    .body {
        min-height: 80vh;
    }
}

.modalPaper {
    background-color: $background-color;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
}

.modalPaperYellow {
    background-color: $yellow;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
    width: auto;
    margin: auto;
}

.modalGroupTitle {
    font-size: x-large;
    font-weight: bold;
}

.modalGroupBody {
    padding: 0 4rem;
}

.modalGroupText {
    font-size: small;
    font-weight: 500;
}

.modalGroupSelect {
    width: auto;
    display: flex;
    margin: auto;
}

.colGroup {
    width: fit-content;
    white-space: nowrap;
}

.colId {
    width: 10%;
}

.selectLimit {
    margin-top: .5rem;
    color: $primary-color;
    & > select {
        margin: 0 .5rem;
        color: black;
        width: auto;
        display: inline;
    }
}

.modalSuccessAsignText {
    color: $orange;
    font-weight: bold;
}
