@import './theme.scss';

.body {
    min-height: 60vh;
    height: fit-content;
    position: relative;
    z-index: 2;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleIllustration {
    position: absolute;
    top: calc(50vh - 125px);
    right: 0
}

// .containerWrapper {
//     display: flex;
// }

.formRoot {
    position: relative;
    min-height: 50vh;
    max-width: 60vh;
    z-index: 2;
    margin: 5px;
}

.blueAccent {
    background-color: $primary-color;
    max-width: 0vh;
    min-height: 100%;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 3px 3px 2px #bdbdbd;
}

.formContent {
    background-color: white;
    width: auto;
    // max-width: 60vh;
    min-height: 100%;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 3px 3px 2px #bdbdbd;
    padding: 3rem 2rem;
}

.formTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.formInput {
    margin-top: 0px;
    border-radius: 0.4rem;
    box-shadow: inset 1px 3px 5px #bdbdbd;
    padding: .2rem .6rem;
    // margin-top: -5px;

    &::-webkit-input-placeholder {
        font-style: italic;
        font-size: smaller;
    }
    &:-moz-placeholder {
        font-style: italic;  
    }
    &::-moz-placeholder {
        font-style: italic;  
    }
    &:-ms-input-placeholder {  
        font-style: italic; 
    }
}

.formInputDisable {
    width: 70%;
    margin-top: 0px;
    border-radius: 0.4rem;
    // box-shadow: inset 1px 3px 5px #bdbdbd;
    padding: 0 .6rem;
    // margin-top: -5px;
    width: 70%;
    color: $primary-color;
    padding-left: 0;

    &::-webkit-input-placeholder {
        font-style: italic;
        font-size: smaller;
    }
    &:-moz-placeholder {
        font-style: italic;  
    }
    &::-moz-placeholder {
        font-style: italic;  
    }
    &:-ms-input-placeholder {  
        font-style: italic; 
    }
}

.formLabel {
    margin-bottom: 0px;
    color: $primary-color;
    font-weight: 700;
}

.toggleInputWrapper { 
    // max-height: 4px;
    background-color: white;
    padding: 0;
    width: 30%;
    color: $background-color;
    display: flex;
    justify-content: center;
}

.toggleInput {
    color: rgba(0,0,0,0.5);
    font-size: 10pt
}

.inputWrapper {
    padding-bottom: 10px;
    border-bottom: .2px solid black;
    margin-bottom: 5px;
}

.btnGroups {
    background-color: $yellow;
    border-radius: .5rem;
    color: $primary-color;
    margin: 2px 2px;
    border: 0;
    width: fit-content;
    padding: .1rem .5rem
}

.btnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem
}

.btnSave {
    margin: 5px 5px;
    color: white;
    font-size: medium;
    padding: .2rem .5rem;
    border-radius: .5rem;
    border:0;
    text-decoration: none;
    width: auto;
    min-width: 80px;
    box-shadow: 1px 2px 2px #bdbdbd;
}

.btnCancel {
    margin: 5px 5px;
    color: white;
    font-size: medium;
    padding: .2rem .5rem;
    border-radius: .5rem;
    border:0;
    text-decoration: none;
    width: 80px;
    box-shadow: 1px 2px 2px #bdbdbd;
}

.btnChangePass {
    border-radius: .5rem;
    padding: .2rem .5rem;
    font-size: small;
    box-shadow: 1px 2px 2px #bdbdbd;
}