@import './theme.scss';

.modalSuccessAsignText {
    color: $orange;
    font-weight: bold;
}

.modalPaper {
    background-color: $background-color;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
}

.modalPaperYellow {
    background-color: $yellow;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
    width: auto;
    margin: auto;
}

.modalGroupTitle {
    font-size: larger;
    font-weight: bold;
}

.modalGroupBody {
    padding: 0 4rem;
}

.modalGroupSelect {
    width: auto;
    display: flex;
    margin: auto;
}

.btnModal {
    min-width: 4rem;
    width: auto;
    text-align: center;
    box-shadow: .2rem .2rem .1rem #bdbdbd;
    // padding: .01rem 0;
    // height: 2rem;
}

.modalHeader {
    border-bottom: 0 none white;
}

.modalFooter {
    border-top: 0 none white;
    justify-content: center;
}

.modalBody {
    padding: 0 4rem;
}