@import './theme.scss';

.navbar-root {
    background-color: $primary-color;
    padding-left: 2rem;
    padding-right: 2rem;
    // height: 75px;
};

.navbar-items {
    align-items: center;
    font-weight: bold;
    font-size: 14px;
};

// .navbar-dropdown {
//     background-color: red!important;
//     border-radius: 20px;
// }

.link {
    color: white;
    text-decoration: none;
    &:hover {
        color: $yellow
    }
    margin: 7px;
}

.selected {
    color: $yellow
}

.logout-button {
    text-decoration: none;
    color: black
}

// @media screen and (max-width: 990px) {
//     .navbar-root {
//         height: auto;
//     }
// }

.divider {
    min-width: auto;
    height: 1px!important;
}
