@import './theme.scss';

.body {
    min-height: 60vh;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.root {
    margin-top: 4rem;
}

.title {
    text-align: center;
    font-weight: bold;
}

.paper {
    margin-top: 1rem;
    background-color: $primary-color;
    // min-height: 400px;
    // height: fit-content;
    max-width: 75vh;
    border-radius: 1rem;
}

.form-new-user-root {
    margin-top: 1.5rem;
    color: white;
}

.form-wrapper {
    color: white;
}

.form-input {
    border-radius: 0.7rem;
    box-shadow: inset 1px 3px 5px #bdbdbd;
    margin-top: -5px;
    margin-bottom: 1rem;

    &::-webkit-input-placeholder {
        font-style: italic;
    }
    &:-moz-placeholder {
        font-style: italic;  
    }
    &::-moz-placeholder {
        font-style: italic;  
    }
    &:-ms-input-placeholder {  
        font-style: italic; 
    }
}

.form-roles {
    min-height: 5rem;
    background-color: white;
    border-radius: 0.7rem;
    box-shadow: inset 1px 3px 5px #bdbdbd;
    color: $primary-color;
    padding: 0.5rem;
}

.plus-button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

.reset-password-link {
    color: white;
    // text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.form-wrapper-new-user {
    padding: inherit
}

// @media screen and (max-width: 420px) {
//     .img-illustration{
        
//     }   
// }

.error-message-new-user {
    margin-top: -.6rem;
    color: $yellow
}