@import './theme.scss';

$background-color: #EBEBEB;

.resolve-ticket-body {
    min-height: 60vh;
    height: fit-content;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.col-img {
    display:flex;
    align-items: center;
    margin-right: 180px;
    margin-left: 180px;
    margin-top: 1px;
    margin-bottom: 100px;
}

.col-logs {
    max-height: 60vh
}

.card-view {
    border-radius: 0.5rem;
    // max-width: 35rem;
    width: 35rem;
    height: 27vh;
    overflow-y: auto;
    background-color: $primary-color;
    margin-bottom: .7rem;
    padding: 20px;
    // margin-top: .3rem;
    // margin: 0 2rem;
    
}

.card-form {
    border-radius: 0.5rem;
    width: 35rem;
    height: 15rem;
    background-color: $background-color;
    margin-bottom: 0rem;
    margin-top: .7rem;
    border-color: $primary-color;
    color: $primary-color;
    font-weight: bold;
    padding: 1rem 0;
    height: 27vh;
    overflow-y: auto;
}

.card-status {
    border-radius: 0.5rem;
    width: 100%;
    background-color: $yellow;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.card-logs {
    border-radius: 0.5rem;
    background-color: white;
    // width: 39rem;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
}

.logs-user {
    border-radius: 0.5rem;
    text-align: left;
    // font-size: small;
    border: 1px solid $primary-color;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 5rem;
    height: auto;
    color: $primary-color;
    padding-top: 1rem;
    padding-bottom: .25rem
    
    
}

.logs-agent {
    border-radius: 0.5rem;
    text-align: right;
    // font-size: small;
    border: 1px solid $primary-color;
    margin-top: 1rem;
    min-height: 5rem;
    height: auto;
    color: $primary-color;
    background-color: $background-color;
    padding-top: 1rem;
    padding-bottom: .25rem
    
}

.logs-text {
    padding: 0
}

.logs-style {
    font-weight: bold;
    font-size: small;
    // line-height: 0;
    margin-top: 1em;
}

.date-logs-user {
    text-align: right;
    font-size: small;
    font-style: italic;
}

.date-logs-agent {
    text-align: left;
    font-size: small;
    font-style: italic;
}

.tittle-status {
    color: $primary-color ;
    margin-bottom: 0;
}

.tittle-review {
 
    color: $primary-color;
    text-align: right;
    font-size: small;
    font-weight: bold;
}

.review-user {
    font-style: italic;
    font-weight: normal;
    display: inline-block;
}

.status-ticket {
    font-weight: bold;
    color: $primary-color;
}

.form-view {
    margin-left: 0rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: $background-color;
}

.form-left {
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: $background-color;
    font-weight: bold;
    font-size: small;
}

.form-right {
    margin-bottom: 0rem;
    color: $background-color;
    margin-top: 4px;
    font-size: small;
    // display: flex;
    // align-items:flex-start;
}

.ticket-id {
    color: $yellow;
    font-weight: bold;
}

.label-ticket-id {
    margin-bottom: 0;
}

.form-manage {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-select-resolve-ticket {
    color: $primary-color;
    border-radius: 8px;
    border: 0;
    box-shadow: 5px 5px 3px #e3e3e3;
}

.form-control {
    border-color: $background-color;
}

.p-tittleManage {
    color: $primary-color;
    margin-bottom: 0;
}

.btn-save{
    color: white;
    font-size: smaller;
    padding: 5px 10px;
    border-radius: .5rem;
    border:0;
    text-decoration: none;
    min-width: 4rem;
    width: auto;
    margin-top: 1rem;
}

.btn-cancel{
    color: white;
    font-size: smaller;
    padding: 5px 10px;
    border-radius: .5rem;
    border:0;
    text-decoration: none;
    width: 4rem;
    margin-top: 1rem;
    margin-right: 1rem;
    

}

.btn-wrapper-resolve-ticket {
    display: flex;
    justify-content: end;
    padding-right: 0;
}

.img-resolve-ticket {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
}

@media screen and (max-width:980px) {
    .img-resolve-ticket {
        display: none;
    }
}

.back-link-resolve-ticket {
    text-decoration: none;
    color: $primary-color;
}

.card-resolve-ticket-wrapper {
    padding: inherit;
}

.status-wrapper-resolve-ticket {
    padding: 1rem
}

.detail-resolve-ticket-row-wrapper {
    height: 60vh
}

.card-status-resolve-ticket-wrapper {
    padding: inherit
}

@media screen and (max-width: 993px) {
    .btn-wrapper-resolve-ticket{
        margin-bottom: 2em;
    }
}

.logs-title {
    font-weight: 700;
}

.review-wrapper-resolve-ticket {
   display: inline-block;
}